@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.645), rgba(0, 0, 0, 0.623)), url('imagens/376147-4k-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

header {
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

header > h1 {
    color: white;
    font-size: 3em;
    font-variant: small-caps;
    cursor: pointer;
    letter-spacing: 2px;
}

header > nav > ul {
    display: flex;
}
header > nav > ul > li {
    list-style-type: none;
    color: white;
    margin: 5px;
    font-size: 1.4em;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
}

/* CORPO */

main {
    height: 93vh;
    position: relative;
}
#itens {
    background-color: rgb(255, 255, 255);
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}